#landing {
  font-size: 22px;
  line-height: 1.5;
  min-height: 80vh;
  p {
    color: #1b1b1b;
    margin-bottom: 2.5rem;
    letter-spacing: 2px;
  }
  .shop-btn {
    font-family: karla, Helvetica, sans-serif;
    font-size: 16px;
    a {
      padding: 16px 48px;
      border-radius: 25px;
      border: 2px solid black;
      color: inherit;
      text-decoration: none;
      transition: all 0.5s ease-in-out;
      &:hover {
        background: black;
        color: white;
      }
    }
  }
  // input {
  //   background-color: transparent;
  //   border: none;
  //   border-bottom: 1px solid #ccc;
  //   color: #555;
  //   box-sizing: border-box;
  //   font-family: "Arvo";
  //   font-size: 18px;
  //   height: 50px;
  //   // left: 50%;
  //   margin: -25px 0 0 0;
  //   padding: 10px 0px;
  //   position: relative;
  //   top: 40%;
  //   &:focus {
  //     outline: none;
  //   }
  // }
}

///Floating input

.floating-form {
  width: 320px;
}

/****  floating-Lable style start ****/
.floating-label {
  position: relative;
  margin-bottom: 20px;
}
.floating-input,
.floating-select {
  font-size: 14px;
  padding: 4px 4px;
  display: block;
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575;
}

.floating-input:focus,
.floating-select:focus {
  outline: none;
  border-bottom: 2px solid #5264ae;
}

label {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.floating-input:focus ~ label,
.floating-input:not(:placeholder-shown) ~ label {
  top: -18px;
  font-size: 14px;
  color: #5264ae;
}

.floating-select:focus ~ label,
.floating-select:not([value=""]):valid ~ label {
  top: -18px;
  font-size: 14px;
  color: #5264ae;
}

/* active state */
.floating-input:focus ~ .bar:before,
.floating-input:focus ~ .bar:after,
.floating-select:focus ~ .bar:before,
.floating-select:focus ~ .bar:after {
  width: 50%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.floating-textarea {
  min-height: 30px;
  max-height: 260px;
  overflow: hidden;
  overflow-x: hidden;
}

/* highlighter */
.highlight {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 15%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.floating-input:focus ~ .highlight,
.floating-select:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* animation */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

/****  floating-Lable style end ****/
