#reviews-section {
  min-height: 50%;
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.38),
      rgba(20, 20, 20, 0.38)
    ),
    url("//img1.wsimg.com/isteam/ip/663fc4a9-67cb-4fa5-b97e-b36a77b054d0/flowers-1245649_1920.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1400,h:520,cg:true,m/cr=w:1400,h:520,ax:50%25,ay:50%25");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(22, 22, 22, 0.24);
  .reviews {
    padding: 48px 56px;
    background-color: rgba(22, 22, 22, 0.5);
  }
  h2 {
    font-family: karla, Helvetica, sans-serif;
    font-size: 40px;
    margin-bottom: 56px;
    line-height: 1.25;
    font-weight: 700;
  }
}
