@import url("https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap");
@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");
@import "./variables";
@import "./navbar";
@import "./landing";
@import "./aboutSection";
@import "./instagram";
@import "./reviews";
@import "./contactUs";
@import "./footer";

body {
  font-family: $font-stack;
  color: $primary-color;
}

h2 {
  font-family: karla, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 100px;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 2px;
}

table {
  margin: auto;
}

picture {
  display: contents;
}

.images {
  height: 100vh;
}
